@page {
    width: 62mm;
    height: 21mm;
}
.label {
    font-family: Arial, Verdana, Helvetica, sans;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size: 11px;
    padding-top: 2mm;
    padding-left: 2mm;
}